@model Category
<form method="post">
    <div class="row">
        <div class="col-md-2"><label>Sure you want to delete?</label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
</form>